count_freqs.py
eval_gene_tagger.py
gene.counts
gene.counts.replaced
gene.counts.test
gene.dev
gene.dev.tagged
gene.key
gene.test
gene.train
gene.train.bak
gene.train.replaced
submit.py
temp.txt
gene.test.tagged
gene_test.p1.out
replace_infreq.pyc
gene.counts.replaced.trigram
gene.dev.viterbi
